<div id="container">

    <div id="container">
        <div id="content">
          <table style="border-spacing: 0 0.2rem;">
            <thead>
              <tr>
                <th>
                  <div class="waluta">
                    SUROWIEC
                  </div>
                  

                  <div class="arrows" >
                 
                    <div>
                      <i [class.chosen]="isArrowChosen('surowiec',true)" class="arrow fa fa-arrow-up"
                       aria-hidden="true"  (click)="sort('surowiec',true)"  ></i>
                    </div>

                    <div >
                      <i [class.chosen]="isArrowChosen('surowiec',false)"  class="arrow fa fa-arrow-down" 
                      aria-hidden="true" (click)="sort('surowiec',false)"></i>
                    </div>

                    <div style="display: inline-block;"></div>

                   </div> 

                </th>
                <th></th>
                <th >
                  <div class="thText">
                    JEDNOSTKA
                  </div>
                </th>

                <th >
                  
                  <div id="kurs">KURS </div>
                  <div class="arrows" >
                 
                      <div>
                        <i [class.chosen]="isArrowChosen('kurs',true)" class="arrow fa fa-arrow-up" 
                        aria-hidden="true" (click)="sort('kurs',true)"  ></i>
                      </div>

                      <div >
                        <i [class.chosen]="isArrowChosen('kurs',false)" class="arrow fa fa-arrow-down"
                         aria-hidden="true" (click)="sort('kurs',false)"></i>
                      </div>

                      <div style="display: inline-block;"></div>

                  </div> 
                
                </th>

                <th >
                  <div class="thText">
                    DATA
                  </div>
                </th>
                  
                <th>
                  
                  <div class="zmiana">ZMIANA</div>

                  <div class="arrows" >
                 
                    <div>
                      <i [class.chosen]="isArrowChosen('zmiana',true)" class="arrow fa fa-arrow-up" 
                      aria-hidden="true" (click)="sort('zmiana',true)"  ></i>
                    </div>

                    <div >
                      <i [class.chosen]="isArrowChosen('zmiana',false)" class="arrow fa fa-arrow-down" 
                      aria-hidden="true" (click)="sort('zmiana',false)" ></i>
                    </div>

                    <div style="display: inline-block;"></div>

                </div> 

                </th>

                <th>
                  
                  <div id="zmianaProc" >
                    ZMIANA<br> PROC.
                  </div>
                
                  <div class="arrows">
                 
                    <div>
                      <i  [class.chosen]="isArrowChosen('zmianaProc',true)" class="arrow fa fa-arrow-up" 
                      aria-hidden="true" (click)="sort('zmianaProc',true)" ></i>
                    </div>

                    <div >
                      <i [class.chosen]="isArrowChosen('zmianaProc',false)" (click)="sort('zmianaProc',false)"
                      class="arrow fa fa-arrow-down" aria-hidden="true" ></i>
                    </div>

                    <div style="display: inline-block;"></div>

                </div> 
                
                </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let material of materials" class="material" (click)="selectMaterial(material)"   >
               <td class="materialTxt">
                <img class="icon" [src]="'assets/surowce-min/'+material.id +'.png'">
               </td> 
                <td id="materialName" class="" >{{material.name}}</td>
                <td class="materialTxt" >{{material.unit}}</td>

                <td class="materialTxt" >{{material.price}}</td>
                <td class="materialTxt" >{{material.data | date: 'yyyy-MM-dd'}}</td>
        

                <td class="materialTxt" >
                  <div *ngIf="material.change > 0" style="display: inline-block;">+{{material.change}}</div>
               
                  <div *ngIf="material.change == 0" style="display: inline-block;">{{"0.0000"}}</div>

                  <div *ngIf="material.change < 0" style="display: inline-block;">{{material.change}} </div>
                </td>
                <td class="materialTxt" >
                  <div *ngIf="material.percentChange > 0" style="display: inline-block;">+{{material.percentChange }}%</div>

                  <div *ngIf="material.percentChange == 0" style="display: inline-block;">{{"0.00"}}% </div>
                 
                  <div *ngIf="material.percentChange < 0" style="display: inline-block;">{{material.percentChange }}% </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


</div>
